<button class='btn btn-block' data-bind="click: lightButtonFunction, text: lightStatus"></button>
<!--input type="range" min="0" max="100" class="slider" data-bind="value: brightness"-->
<button class='btn btn-block' data-toggle="button" data-bind="click: dryerButtonFunction, text: dryerStatus"></button>
<button data-bind="click: printerPowerFunction, text: printerStatus, class: printerStatusClass"></button>
<br>
<!-- label id="proto" data-bind="text: buttonStatus"></label -->

<table id="proto">
  <tr>
    <th> Temperature </th>
	<th> Humidity  </th>
  </tr>
  <tr>
    <td data-bind="text: temperature() + '°c'"> </td>
	<td data-bind="text: humidity() + '%'"> </td>
  </tr>
</table>
<h6><small> v{{ plugin_protosthetics_version }}</small></h6>
<!--button class='btn' data-bind="click: changeFilamentFunction">Change Filament</button>
<br>
<label id="proto" data-bind="text: filamentStatus"></label>
<br>
<button class='btn btn-primary' data-bind="click: resumeQueue">Resume Queue</button-->